@use '../../variables' as v;

.account-main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.1rem;
  gap: 0.9rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../assets/account-img.svg');
}
.account-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  padding: 0.6rem;
  color: v.$form-text-color;
  h3{
    font-size: 2rem;
  }
  span{
    font-style: italic;
  }
}
.account-form{
  display: flex;
  border: 1px solid;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: v.$main-border-radius;
  border-color: rgba(79, 43, 26, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.account-form-header{
  font-size: 1.2rem;
  font-weight: 600;
  color: v.$form-input-color;
}
.account-item{
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1.2rem;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  color: v.$form-text-color;

  .acc-title{
    font-size: 1.1rem;
    font-weight: 600;
  }
}
.bank-item{
  border: none;
}

@media screen and (max-width:768px) {
  .account-form{
    width: 70%;
  }
}

@media screen and (max-width:576px){
  .account-header{
    h3{
      font-size: 1.2rem;
    }
    span{
      font-size: 0.7rem;
    }
  }
  .account-form{
    width: 100%;
  }
}