@use '../../variables' as v;

.receipt-container{
  background-color: #FAF0E6;
  width: 70%;
  margin:  1rem auto;
  padding: 2rem;
}
.invoice-header{
  text-align: center;
  span{
    font-family: v.$azeret-font;
    font-size: 1.5rem;
  }
}
.invoice-date{
  padding: 0.5rem;
  text-align: right;
  span{
    font-family: v.$azeret-font;
    font-size: 1rem;
  }
}
.comp-transid{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 0.8rem;
  span{
    font-family: v.$azeret-font;
  }
}

// Edit hr later

.tax-list{
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .tax-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span{
      font-family: v.$azeret-font;
      font-size: 1rem;
    }
  }
}

.tax-total{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  span{
    font-family: v.$azeret-font;
  }
}

.receipt-note{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  span{
    font-family: v.$azeret-font;
  }
}

@media screen and (max-width:768px) {
  .receipt-container{
    width: 80%;
  }
}

@media screen and (max-width:576px) {
  .receipt-container{
    width: 95%;
  }
}