@use '../../variables' as v;

.success-main-container{
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.success-header{
  h1{
    color: #F26722;
  }
}

.success-text{
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  span{
    color: v.$save-button-color;
    font-size: 1.3rem;
  }
}

.certificate-text{
  width: 40%;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  span{
    color: v.$save-button-color;
    font-size: 1.3rem;
  }
}
.certificate-btn{
  width: 40%;

  button{
    background-color: #15331F;
    color: #fff;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: v.$main-border-radius;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    font-weight: bold;

    &:hover{
      cursor: pointer;
      border: 1px solid #15331F;
      color: #15331F;
      background-color: #fff;
    }
  }
}
.home-link-container{
  width: 40%;
  .home-link-txt{
    color: #15331F;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}

@media screen and (max-width:768px) {
  .success-text{
    width: 70%;
  }
  .certificate-text{
    width: 70%;
  }
}

@media screen and (max-width:576px) {
  .success-main-container{
    justify-content: flex-start;
    align-items: flex-start;
  }
  .success-header{
    h1{
      font-size: 1.7rem;
    }
  }
  .success-text{
    width: 85%;
    span{
      font-size: 1.2rem;
    }
  }
  .certificate-text{
    span{
      font-size: 1.2rem;
    }
    width: 85%;
  }
}