@use '../../variables' as v;

.forgot-password-container{
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;

  h1{
    color: v.$form-text-color;
  }
}
.form-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: v.$form-text-color;
  padding: 1rem;
}
.forgot-password-form{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.7rem;

  input{
    width: 25rem;
  }
  .error-container{
    div{
      color: rgb(242, 122, 122);
    }
  }
}

@media screen and (max-width:576px) {
  .forgot-password-form{
    input{
      width: 15rem;
    }
  }
}