@use '../../variables' as v;

@page{
  size: A4;
}

.certificate-container{
  background-image: url('../../assets/certificate-template.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 130rem;
  height: 74.2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.certificate-header{
  height: 27rem;
}
.certificate-busname{
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16rem;
  .cert-short{
    width: 70%;
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
  }
  .cert-long{
    width: 80%;
    text-align: left;
    font-size: 4rem;
    font-weight: 600;
  }
  .cert-extra-long{
    width: 80%;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
  }
}
.certificate-date{
  height: 20rem;
  display: flex;
  flex-direction:row;
  align-items: flex-end;
  padding-left: 5.7rem;
  span{ 
    font-size: 2.5rem;
  }
}
.certificate-number{
  height: 10rem;
  display: flex;
  align-items: flex-end;
  padding-left: 27rem;
  padding-bottom: 1.4rem;
  span{
    font-size: 2.5rem;
  }
}

@media print{
  @page {
    size: auto;
  }
}