@use '../../variables' as v;

.profile-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem;
  gap: 1.2rem;
  // border: 1px solid;
  width: 60%;
}

.button-section{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #fff;
  padding: 1rem;
  gap: 1.2rem;
  border-radius: v.$main-border-radius;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}