$nav-bg-color: #F9BFA2;
$nav-logo-color: #DA531D;
$greeting-color: #79442B;
$form-text-color:#432212;
$form-input-color: #4F2B1A;
$form-button-color: #F29122;
$button-text-color: #461903;
$auth-link-color: #6722F2;
$main-border-radius:7px;
$save-button-color:#22F267;
$other-button-color:#F2BA22;
$azeret-font: "Azeret Mono", monospace !important;